<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ServiceAddress" value="rabbitmq://localhost/test/createuser" />
    <add key="ServiceAddressInMemory" value="loopback://localhost/createuser" />
    <add key="RabbitMqUri" value="rabbitmq://localhost/test" />
    <add key="RabbitMqUser" value="guest" />
    <add key="RabbitMqPassword" value="guest" />
    <add key="Endpoint" value="createuser" />
    <add key="UseInMemoryBus" value="false" />
    <add key="SnapshotIntervallInSeconds" value="120" />
    <add key="ConnectionString" value="mongodb://192.168.1.216:27017" />
    <add key="DatabaseName" value="EventDB" />

    <!--Cart Service-->
    <add key="CartServicePort" value="5267" />
    <add key="CartServiceDisplayName" value="Cart Service" />
    <add key="CartServiceName" value="CartService" />
    <add key="CartCollectionName" value="Cart" />

    <!--Customer Service-->
    <add key="CustomerServicePort" value="5265" />
    <add key="CustomerServiceDisplayName" value="Customer Service" />
    <add key="CustomerServiceName" value="CustomerService" />
    <add key="CustomerCollectionName" value="Customers" />

    <!--Order Service-->
    <add key="OrderServicePort" value="5268" />
    <add key="OrderServiceDisplayName" value="Order Service" />
    <add key="OrderServiceName" value="OrderService" />
    <add key="OrderCollectionName" value="Orders" />
    <add key="OrderDetailCollectionName" value="OrderDetails" />

    <!--Product Service-->
    <add key="ProductServicePort" value="5266" />
    <add key="ProductServiceDisplayName" value="Product Service" />
    <add key="ProductServiceName" value="ProductService" />
    <add key="ProductCollectionName" value="Products" />
  </appSettings>
  <connectionStrings>
    <add name="SimpleEventStore" connectionString="Data Source=uc-003\sqlexpress2014;initial catalog=SimpleEventStore;user id=sa;password=abc@123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Hosting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.1.0" newVersion="3.6.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" /></startup></configuration>
